body, button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: black;
}
body {
    margin: 0;
    padding: 0;
    min-width: 400px;
}
a:link {
    color: #222;
    text-decoration: none;
}
a:visited {
    color: #222;
}
a:hover {
    text-decoration: underline;
}


.navbar1 {
    align-items: center;
    padding: 6px;
}

.navbar2 {
    float: right;
}

.googleImage {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    margin-top: 200px;
}
.googleTextbox {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.textboxInput {
    height: 40px;
    width: 500px;
    border-width: 1pt;
    border-radius: 50px;
    margin-bottom: 0px;
    padding-left: 25px;
    outline: none;
}



.searchButtons {
    padding-top: 25px;

}

.footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    color: #70757a;
}
.navbar3 {
    align-items: center;
}
.navbar4 {
    float: right;
}